<!DOCTYPE html>
<html>
<head>
   <meta charset='UTF-8' />
	<title>
         <li>CURRICULUM VITAE</li>
         
  </title>
</head>
<body>
 <li> JANE AKINYI NYASORO</li>
 <h1>Personal Details</h1> 
 <ul>
    <li>Date of Birth: 19th April 2016</li>
     <li>Nationality: Kenyan</li>
     <li>Gender: Female</li>
     <li>Marital Status: Single</li>
     <li>Language: English, Swahili and Luo</li>
 </ul>

 <h2> Profile</h2>
 <p> Mature, self-motivated and resourceful professional with a  passion for working with communities through  the application of my skills in business information technology.</p>

 <h3>Career Aspirations</h3>
 <p> i am looking  for a challenging position in a large and reputable  organization where l can apply my knowledge in Business Information Technology and community research work involving data collection, data entry and analysis.</p>

<h4>Special Skills</h4>
<ul>
 <li>Good leadership capabilities with ability to work under immense pressure</li>
 <li>Exceptional  communication and interpersonal skills</li>
 <li>Very well organized, resourceful and can work well both independently and in a team</li>
 </ul>

 <h5>Educational Qualifications</h5>
 <ul>
 <li>August 2015 to Dec 2015- IAT
 Certificate in Cisco Certified Network Associate</li>
 <li> May 2011 to  November 2015- Jomo Kenyatta University
 Bachelor of Business Information Technology,2nd Class Honors</li>
 <li>January to March 2011- Computer Software Application Certificate</li>
 <li>January 2007 to November 2010-Bunyore Girls' High School
 KCSE, Grade B+</li>
 <li>January 1996 to November 2006- Josana Academy
 KCPE,388 marks</li>
 </ul>

 <h6> Professional Experience</h6>

 <p>April 2016-Research Assistant at Plan International for the project called “The Country Strategic Plan Baseline for Kisumu Program Unit”. I was able to go to the field to interview the various households in the village and administer questionnaires.
 Participated in data entry and analysis using Epidata</p>

<p>January 2015 to March 2015-Research Assistant at K-MET (Kenya Medical Education Trust-Kisumu.
Community Interviewer for the reproductive health and Youth Programmes.
Achievements and Results:
<ul>
<li>Participated in the translation in the questionnaires from English to Dholuo</li>
<li>Lead in conducting community entry through holding introductory and briefing sessions with the community leaders and stakeholders</li>
<li>Trained in conducting interviews by the K-MET programme staff.</li>
<li>Assessed online on Research ethical considerations</li>
<li>Conducted focus group discussions with the youth, community leaders and women of the reproductive age.</li>
<li>Participated and coordinated data collection activities in the field to ensure effective data collection.</li>
<li>Participated in data entry and analysis using SPSS.</li>
</p>

<p>
October to December 2014-Intern at Kenya Post Office Savings Bank (Postbank) Headquarters in Nairobi. 
I was attached at the Human Resource Department where l was able to carry out the following responsibilities: 
<ul>
<li>Contract Administration-writing up new contracts for new staffs, doing confirmation letters and promotion letters and termination letters & acceptance of resignation letters.</li>
<li>Employee Records-keeping of the employee record on the HRIMS physically in the files.</li>
<li>Communication- formally sending out memes to staff.</li>
<li>Coordination of Employee Motivation Program- I was involved in employee of the month, preparing certificates of the same, the letters, shopping vouchers and gifts for the chosen staff that are to be motivated.</li>
<li>Registry Section-opening new files for newly employed staff, filing documents (both policy and personal), organizing databases and updating it as required. I also learnt about the filing system used by Postbank i.e. numeric filing.</li>
<li>Planning and Recruitment Section- plans of recruiting whether internally or externally; While at this section, I got experience in drafting job adverts, short listing of applicants and inputting data of the applicants.</li>
<li>Employee Welfare and Benefits Section-Compiling staff list to several pharmacies and different doctors who are the medical service providers to the Postbank, updating records of new dependants of employees.</li> 
<li>Training and Development Section- concerned with any form of training to employees.</li>
</ul>
</p>


<p>August to September 2013: Intern at K-MET (Kenya Medical Education Trust-Kisumu.

I also worked as an intern in the ICT Department where l was able to gain new skills in undertaking the following responsibilities:
Responsibilities:
<ul>
<li>Data Collection, Entry and Analysis using SPSS</li>
<li>Installing drivers and printers</li>
<li>Connecting devices to a UPS</li>
<li>Repairing an XP installation</li>
<li>Creating a Local Area Network (LAN)</li>
<li>Backing up data in the Server</li>
<li>Computer Formatting</li>
</ul>
</p>

<h7>Trainings, Volunteer and Part-time assignments</h7>
 <p>
March 2015-December 2015
 Red Cross Kenya Kisumu.

Main Duties:
<ul> 
<li>Peer education to increase knowledge on HIV/AIDS among the youth.</li>
<li>Disaster response and management including support of displaced families in Nyando.</li>
<li>Participated in the Kenya Initial Rapid Assessment data collection conducted in Nyando.</li> 

<h8>References</h8>
            <table>
              <tr>
                <td>James Ogutu</td>
                <td>Disaster Response Officer</td>
                <td>Kenya Redcross</td>
                <td>Tel:0720263696</td>
              </tr>
              <tr>
               <td>DESMOND AKELLO</td>
               <td>PROGRAMME ADMINISTRATOR, KMET</td>
               <td>MOBILE: 0725-395404</td>
               <td>EMAIL: desmondakello@kmet.co.ke</td>   
              </tr>
              <tr>
                <td> MAUREEN OBURA 
                <td>ACCOUNTANT AFYA SACCO LTD
                <td>MOBILE: 0729- 425475 
                <td>EMAIL: oburamaureen@yahoo.com  
              </tr>

            </table>
 
</body>
</html>